{% extends 'base.html' %}

{% block title %} Menu {% endblock %}

{% block content %}
	<h1>Login</h1>

	<form method="post" action="/login">
		<fieldset>
            <legend>Login</legend>
            
            <div>        
                {{ form.email.label }}: {{ form.email }}<br><br>

				{{ form.password.label }}: {{ form.password }}<br><br>

                {{ form.submit }}
            </div>
        </fieldset>
	</form>

	<p>No Account? <a class="create button" href="/create">Create One</a></p>
{% endblock %}